<a href="https://colab.research.google.com/github/danaemolinafeyt-web/data--science-coursework/blob/main/Week_2_Exercise_Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Key Python Variable Types
#Text Type:	str; you can use single quotes or double quotes
str1 = "Hello to you"
str2 = 'and Good morning'
#You can display variables with print()
print(str1, str2)
#and you can use type() to get the type of a variable
print('variable str1 var has type:', type(str1))
#Numeric Types:	int, float, complex
#int
num1 = 6
print('variable num1 has type:',type(num1))
#float
num2=1.3
print('variable num2 has type:',type(num2))
type(num2)
#Sequence Types:	list, tuple, range
#a list
list1 = ['hello','to','you']
print('variable list1 has type:',type(list1))
#lists support different types of elements
list2 = ['hello',1,'you',6.3,'yes',7,2.3]
#equivalent
list3 = list(('hello',1,'you',6.3,'yes',7,2.3))
#you can print elements of the string
#first element is list2[0] and last is list2[len(list2)-1]
#len() gives you the length---but since we start at 0, we have to subtract one
print(list2[0],list2[len(list2)-1])
print("list2:",list2[0], list2[1],list2[4:6])
print("list3",list3[0], list3[1],list3[4:6])
print('variable list2 has type:',type(list2))
#Now we modify the first element of list2
list2[0] = 'Yes indeed'
#and we see the list changed
print('list2=',list2)

#This example loops through all items of list3
#and if they are of type str, then it appends 'of course'
for i in range(len(list3)):
  if str(type(list3[i])) == "<class 'str'>":
    list3[i]=list3[i] + " of course"
print('list3=',list3)

#A tuple is similar to a list but the elements are immutable
tuple1 = ('hello',1,'you',6.3,'yes',7,2.3)
print(tuple1,type(tuple1))
#But if we try to change an element we get an error
#TypeError: 'tuple' object does not support item assignment
#Uncomment this next line to see the error:
#tuple1[0]='Yes indeed'
#Boolean Type:	bool
bool1 = True
bool2 = False
#we get false for this comparison
print("This should be false:", bool1 == bool2)
#and we get true for this one
print("This should be True:",bool2 == bool2)

Hello to you and Good morning
variable str1 var has type: <class 'str'>
variable num1 has type: <class 'int'>
variable num2 has type: <class 'float'>
variable list1 has type: <class 'list'>
hello 2.3
list2: hello 1 ['yes', 7]
list3 hello 1 ['yes', 7]
variable list2 has type: <class 'list'>
list2= ['Yes indeed', 1, 'you', 6.3, 'yes', 7, 2.3]
list3= ['hello of course', 1, 'you of course', 6.3, 'yes of course', 7, 2.3]
('hello', 1, 'you', 6.3, 'yes', 7, 2.3) <class 'tuple'>
This should be false: False
This should be True: True

In [4]:
# My practice code before assignment.
a = "hello" #string
b = 7       #integer
c = 2.3     #float
d = [a,b,c] #list with all 3 types.

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

hello <class 'str'>
7 <class 'int'>
2.3 <class 'float'>
['hello', 7, 2.3] <class 'list'>

In [6]:
# Practicing if-statement + type checking

x = 7
y = 2.5
z = "hello"

# Using the type() with if
if type(x) == int:
    print("x is an integer")
if type(y) == float:
    print("y is a float")
if type(z) == str:
    print("z is a string")

x is an integer
y is a float
z is a string

In [7]:
# Why use elif?
# if checks condition
# elif (else if) checks another condition if the first one wasn't true.
# else is the "catch-all" if none match.

# Every if / elif / else chain must start with / if /
# You can use elif condition as many times as you want
# You can only use else once! and it has to be last.

In [8]:
value = 99

if type(value) == str: # My starting condition
    print("value is a string")
elif type(value) == float:    # The next to is checking if it is one of those conditions if it does not meet the if condition.
    print("value is a float")
elif type(value) == int:
    print("value is an integer")
else:                             # The else is activated if none of the above conditions are met.
    print("Value is something else")

value is an integer

In [ ]:
# How lists work with indexes
# A list is like a row of boxes, each with a number (index)
# Python always starts counting at 0

In [ ]:
list2 = ['hello', 1, 'you', 6.3, 'yes', 7, 2.3]

index:     0      1     2     3     4   5    6

In [ ]:
# list2[0] -> 'hello'
# list2[1] -> 1
# list2[6] -> 2.3

In [ ]:
# len(list2)
# len(list2) gives you how many items are in the list -> here its 7
# But since indexes staret at 0, the last index is len(list2) - 1 -> 6
    # So list2[len(list2)-1] is the same as list2[6] -> 2.3

In [10]:
print(list2[0], list2[len(list2)-1])

Yes indeed 2.3

In [11]:
# Printing slices

print("list2:", list2[0], list2[1], list2[4:6])

list2: Yes indeed 1 ['yes', 7]

In [ ]:
# list2[0] -> 'hello'
# list2[1] -> 1
# list2[4:6] -> ['yes', 7] ---->. (a slice from index )

In [12]:
# Modifying a list

list2[0] = 'Yes indeed'
print('list2=', list2)

# Replaces the first element ('hello') with 'yes indeed'
# lists are mutable, meaning they can be changed.

list2= ['Yes indeed', 1, 'you', 6.3, 'yes', 7, 2.3]

In [ ]:
# Index: 0        1     2     3       4       5     6
# Value: 'hello'  1   'you'   6.3    'yes'    7     2.3

# list2[0] -> look inside box 0 -> 'hello'
# list2([len(list2)-1]-> box 6 -> 2.3
# list2[4:6]-> boxes 4 and 5 -> 'yes', 7
# reassing list2[0] = 'yes indeed' -> now box 0 has a new value

What you are being taught is:

- How to access items by index
- How to grab first/last item
- How to slice multiple items
- How to modify a list element.

In [ ]:
# for i in range(len(...))  --> The core of the loop

for i in range(len(list3)): # it states lets do something with this list3[i]

# len(list3) --> gives how many items are in the list
# range(len(list3)) --> creates a seuqence of indexes (0,1,2,...)
# i -> takes each index, one at a time.
# list3[i]-> grabs the element of that index.

In [14]:
# Practice

list3 = ['hello', 1, 'you', 6.3, 'yes', 7, 2.3]

for i in range(len(list3)):
    print('Index:', i, 'value:', list3[i], 'type:', type(list3[i]))

Index: 0 value: hello type: <class 'str'>
Index: 1 value: 1 type: <class 'int'>
Index: 2 value: you type: <class 'str'>
Index: 3 value: 6.3 type: <class 'float'>
Index: 4 value: yes type: <class 'str'>
Index: 5 value: 7 type: <class 'int'>
Index: 6 value: 2.3 type: <class 'float'>

In [18]:
# Aha moment

for i in range (len(list3)):
    if str(type(list3[i])) == "<class 'str'>":
        list3[i] = list3[i] + 'of course'

It is stating
- Start at index 0 -> check element -> maybe change it
- Move to index 1 -> check element -> maybe change it

In [19]:
# Modfying list itemes in the loop - Practice

numbers = [1,2,3,4,5]
for i in range(len(numbers)): # this line tells how many items are in the list
    numbers[i] = numbers[i] * 2  #this grabs the lement of the index and weve asked to pls multiply.
print('modified list:', numbers).    # now we print!

modified list: [2, 4, 6, 8, 10]

# **Homework** **Assignment**

- Modify the following code, #Datatypes sucha that if the elemtns are of type(class) float, then add 5 to the previous value.
This code loops thorugh all items of list3 and if they are of type str, then it appends 'of course' (you should keep this code intact, the output should add 5 to float types and add 'of course' to str types)
to indent hit tab.

In [30]:
#Datatype

list3 = ['hello', 1, 'you', 6.3, 'yes', 7, 2.3]

# We are going to use this loop to go through each line,and help us add of course to str, and 5 to floats.

for i in range(len(list3)): # command that helps us accomplist what we want with list3
    if str(type(list3[i])) == "<class 'str'>":  # if statement given to us is going to check the condition if it is class str please + of course
      list3[i]=list3[i] + ' of course' # the [i]takes each index one at a time.
    elif str(type(list3[i])) == "<class 'float'>":  # elif condition would be next, and can be used multiple times, in this case we only need it once.
      list3[i]=list3[i] + 5

# Once we have met all the conditions we can now print list 3. yay!

print('list3 =', list3)

list3 = ['hello of course', 1, 'you of course', 11.3, 'yes of course', 7, 7.3]